<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HostsUpdateTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HostsUpdateTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <HostsUpdateTools.Properties.Settings>
            <setting name="HostsUri" serializeAs="String">
                <value>https://raw.githubusercontent.com/googlehosts/hosts/master/hosts-files/hosts</value>
            </setting>
            <setting name="RegexGetUpdateTime" serializeAs="String">
                <value>updated: (?&lt;time&gt;.+)</value>
            </setting>
        </HostsUpdateTools.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <HostsUpdateTools.Properties.Settings>
            <setting name="FastStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HostsPath" serializeAs="String">
                <value>C:\Windows\System32\drivers\etc\hosts</value>
            </setting>
            <setting name="TestHostsPath" serializeAs="String">
                <value>C:\Users\njl1\Desktop\HOSTS</value>
            </setting>
            <setting name="IsAutoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsBoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdateInterval" serializeAs="String">
                <value>3600000</value>
            </setting>
        </HostsUpdateTools.Properties.Settings>
    </userSettings>
</configuration>